*, *:before, *:after {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
  }
  
  body {
    background: #eee;
  }
  
  .header {
    height: 400px;
    background: url(https://image.tmdb.org/t/p/original//iq5L971DFW1SwLJdvl7OpPI1QeZ.jpg)  no-repeat center fixed;
    background-size: cover;

  }
  .header .details {
    padding: 25px 0;
    width: 45%;
  }
  .header .details .rating {
    display: inline-block;
    font-size: 22px;
    color: #ea292e;
  }
  .header .details .year,
  .header .details .seasons {
    padding: 0 0 0 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
  }
  .header .details .description {
    padding: 25px 0 0 0;
    font-size: 15px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.95);
  }
  .header .details .button {
    margin: 25px 20px 0 0;
  }
  
  .button {
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    padding: 13px 35px;
    border-radius: 7px;
  }
  .button.red {
    background: rgba(230, 45, 53, 0.5);
  }
  .button.red:hover {
    background: rgba(230, 45, 53, 0.75);
  }
  .button.red:active {
    background: rgba(230, 45, 53, 0.9);
  }
  .button.plain {
    background: rgba(255, 255, 255, 0.15);
  }
  .button.plain:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  .button.plain:active {
    background: rgba(255, 255, 255, 0.45);
  }